<header class="row">
  <div class="home">
    <a href="/">Home</a>
  </div>
</header>
       <h1>$title$</h1> 
       <div class="info">
         <i>$date$</i>
       </div>
       <p>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                displayAlign: "left",
                showProcessingMessages: false,
                showMathMenu: true,
                messageStyle: "none",
                TeX: { TagSide: "left", equationNumbers: { autoNumber: "AMS" } }
            });
        </script>
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML">
        </script>

$body$

<div class="info">
</div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js">
        </script>
<script type="text/javascript" src="/css/footnote.js">
</script>
